<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Category</key>
	<dict>
		<key>Quick</key>
		<dict>
			<key>you</key>
			<string></string>
			<key>i</key>
			<string></string>
			<key>please</key>
			<string></string>
			<key>thanks</key>
			<string></string>
			<key>want</key>
			<string></string>
			<key>need</key>
			<string></string>
			<key>have</key>
			<string></string>
			<key>can</key>
			<string></string>
		</dict>
	</dict>
	<key>Place</key>
	<dict>
		<key>Waiting Hall</key>
		<string>New item</string>
		<key>Reception</key>
		<dict>
			<key>Greet</key>
			<dict/>
			<key>Intend</key>
			<dict/>
			<key>Identify</key>
			<dict/>
			<key>Pay</key>
			<dict/>
		</dict>
		<key>Consultation</key>
		<dict/>
	</dict>
</dict>
</plist>
