<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>arabic</key>
		<string>استقبال</string>
		<key>child</key>
		<string>reception</string>
		<key>english</key>
		<string>reception</string>
		<key>parent</key>
		<string>context</string>
		<key>picName</key>
		<string>reception</string>
		<key>swedish</key>
		<string>reception</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>فحص طبي</string>
		<key>child</key>
		<string>consultation</string>
		<key>english</key>
		<string>medical examination</string>
		<key>parent</key>
		<string>context</string>
		<key>picName</key>
		<string>medical examination</string>
		<key>swedish</key>
		<string>undersökning</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>العودة</string>
		<key>english</key>
		<string>back</string>
		<key>parent</key>
		<string>system</string>
		<key>swedish</key>
		<string>tillbaka</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>تَحيّة</string>
		<key>child</key>
		<string>greet</string>
		<key>english</key>
		<string>greet</string>
		<key>parent</key>
		<string>reception</string>
		<key>swedish</key>
		<string>hälsa</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أهلاً!</string>
		<key>english</key>
		<string>Hello!</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Hej!</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مرحباً!</string>
		<key>english</key>
		<string>Welcome!</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Välkommen!</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>كيف حالك؟</string>
		<key>english</key>
		<string>How are you?</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Hur mår du?</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنا بخير.</string>
		<key>english</key>
		<string>I&apos;m fine.</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Jag mår bra.</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ما اسمك؟</string>
		<key>english</key>
		<string>What’s your name?</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Vad heter du?</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنا إسمي</string>
		<key>english</key>
		<string>My name is</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Jag heter</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>تشرفنا!</string>
		<key>english</key>
		<string>Nice to meet you!</string>
		<key>parent</key>
		<string>greet</string>
		<key>swedish</key>
		<string>Trevligt att träffas!</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>غَرَض</string>
		<key>child</key>
		<string>intention</string>
		<key>english</key>
		<string>intention</string>
		<key>parent</key>
		<string>reception</string>
		<key>swedish</key>
		<string>avsikt</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>كيف يمكنني مساعدة؟</string>
		<key>english</key>
		<string>How can I help?</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>Hur kan jag hjälpa?</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>هل لديك</string>
		<key>english</key>
		<string>Do you have</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>Har du</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>موعد</string>
		<key>english</key>
		<string>appointment</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>avtalad tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>دعوة</string>
		<key>english</key>
		<string>notice</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>kallelse</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إحالة</string>
		<key>english</key>
		<string>referral</string>
		<key>missing</key>
		<string>find better pic?</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>remiss</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>اختبار الدم</string>
		<key>english</key>
		<string>blood test</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>blodprov</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أشعة سينية</string>
		<key>english</key>
		<string>X-ray</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>röntgen</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يحدّد موعداً</string>
		<key>english</key>
		<string>make appointment</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>boka tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مَن تبحث؟</string>
		<key>english</key>
		<string>Who are you looking for?</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>Vem söker du?</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ينتظر</string>
		<key>english</key>
		<string>wait</string>
		<key>parent</key>
		<string>intention</string>
		<key>swedish</key>
		<string>vänta</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إثبات الهويّة</string>
		<key>child</key>
		<string>identify</string>
		<key>english</key>
		<string>identify</string>
		<key>parent</key>
		<string>reception</string>
		<key>picName</key>
		<string>identify</string>
		<key>swedish</key>
		<string>legitimera</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بطاقة هويّة</string>
		<key>english</key>
		<string>identification</string>
		<key>parent</key>
		<string>identify</string>
		<key>picName</key>
		<string>identification</string>
		<key>swedish</key>
		<string>legitimation</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>رقم الهوية</string>
		<key>english</key>
		<string>personal identity number</string>
		<key>missing</key>
		<string>find better pic?</string>
		<key>parent</key>
		<string>identify</string>
		<key>picName</key>
		<string>personal identity number</string>
		<key>swedish</key>
		<string>personnummer</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بـطاقة ل م أ</string>
		<key>english</key>
		<string>LMA-card</string>
		<key>parent</key>
		<string>identify</string>
		<key>picName</key>
		<string>LMA-card</string>
		<key>swedish</key>
		<string>LMA-kort</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مركز الرعاية الصحية</string>
		<key>english</key>
		<string>health center</string>
		<key>parent</key>
		<string>identify</string>
		<key>picName</key>
		<string>health center</string>
		<key>swedish</key>
		<string>vårdcentral</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مسجّل</string>
		<key>english</key>
		<string>registered</string>
		<key>parent</key>
		<string>identify</string>
		<key>picName</key>
		<string>registered</string>
		<key>swedish</key>
		<string>registrerad</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>دفع</string>
		<key>child</key>
		<string>pay</string>
		<key>english</key>
		<string>pay</string>
		<key>parent</key>
		<string>reception</string>
		<key>picName</key>
		<string>payment</string>
		<key>swedish</key>
		<string>betala</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يدفع</string>
		<key>english</key>
		<string>pay</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>betala</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بطاقة الخدمات الطبية المجانية</string>
		<key>english</key>
		<string>free card</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>frikort</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>فاتورة</string>
		<key>english</key>
		<string>bill</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>räkning</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إيصال</string>
		<key>english</key>
		<string>receipt</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>kvitto</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>نقد</string>
		<key>english</key>
		<string>cash</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>kontanter</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بطاقة الائتمان</string>
		<key>english</key>
		<string>credit card</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>kort</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لا يقبَل</string>
		<key>english</key>
		<string>not accept</string>
		<key>parent</key>
		<string>pay</string>
		<key>swedish</key>
		<string>tar inte emot</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>تغيير موعد</string>
		<key>child</key>
		<string>re-schedule</string>
		<key>english</key>
		<string>re-schedule</string>
		<key>parent</key>
		<string>reception</string>
		<key>swedish</key>
		<string>omboka</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مريض</string>
		<key>english</key>
		<string>sick</string>
		<key>parent</key>
		<string>re-schedule</string>
		<key>swedish</key>
		<string>sjuk</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ليس هنا</string>
		<key>english</key>
		<string>not here</string>
		<key>parent</key>
		<string>re-schedule</string>
		<key>swedish</key>
		<string>inte här</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>للأسف</string>
		<key>english</key>
		<string>unfortunately</string>
		<key>parent</key>
		<string>re-schedule</string>
		<key>swedish</key>
		<string>tyvärr</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>جديد</string>
		<key>english</key>
		<string>new</string>
		<key>parent</key>
		<string>re-schedule</string>
		<key>swedish</key>
		<string>tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يحدّد موعداً</string>
		<key>english</key>
		<string>make appointment</string>
		<key>parent</key>
		<string>re-schedule</string>
		<key>swedish</key>
		<string>boka tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>شرح</string>
		<key>child</key>
		<string>explain</string>
		<key>english</key>
		<string>explain</string>
		<key>parent</key>
		<string>reception</string>
		<key>swedish</key>
		<string>förklara</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>تذكرة انتظار</string>
		<key>english</key>
		<string>queue ticket</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>nummerlapp</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>قائمة الانتظار</string>
		<key>english</key>
		<string>waiting list</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>väntelista</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يحدّد موعداً</string>
		<key>english</key>
		<string>make appointment</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>boka tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>حالة طارئة</string>
		<key>english</key>
		<string>emergency</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>akut</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إحالة ذاتية</string>
		<key>english</key>
		<string>self-referral</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>egenremiss</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>هَل تريد</string>
		<key>english</key>
		<string>Do you want</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>Vill du</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يكتب</string>
		<key>english</key>
		<string>write</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>skriva</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>دعوة</string>
		<key>english</key>
		<string>notice</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>kallelse</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يَتَلَقّى رسالة</string>
		<key>english</key>
		<string>receive a letter</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>ta emot brev</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يرسل</string>
		<key>english</key>
		<string>send</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>skicka</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ظَرف</string>
		<key>english</key>
		<string>envelope</string>
		<key>parent</key>
		<string>explain</string>
		<key>swedish</key>
		<string>kuvert</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>نهاية</string>
		<key>child</key>
		<string>closing</string>
		<key>english</key>
		<string>closing</string>
		<key>parent</key>
		<string>reception</string>
		<key>swedish</key>
		<string>avsluta</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>وداعاً!</string>
		<key>english</key>
		<string>Bye!</string>
		<key>parent</key>
		<string>closing</string>
		<key>swedish</key>
		<string>Hej då!</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إلى اللقاء!</string>
		<key>english</key>
		<string>See you!</string>
		<key>parent</key>
		<string>closing</string>
		<key>swedish</key>
		<string>Vi ses!</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>كلمات أساسيّة</string>
		<key>child</key>
		<string>basic</string>
		<key>english</key>
		<string>basic words</string>
		<key>missing</key>
		<string>missing pic</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>basord</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنا</string>
		<key>english</key>
		<string>I</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>jag</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنت</string>
		<key>english</key>
		<string>you</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>du</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>نعم</string>
		<key>english</key>
		<string>yes</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>ja</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لا</string>
		<key>english</key>
		<string>no</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>nej</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يريد</string>
		<key>english</key>
		<string>want</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>vilja</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يحتاج إلى</string>
		<key>english</key>
		<string>need</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>behöva</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لدى</string>
		<key>english</key>
		<string>have</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>ha</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يستطيع</string>
		<key>english</key>
		<string>can</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>kunna</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>موافق</string>
		<key>english</key>
		<string>OK</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>okej</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لا/ليس</string>
		<key>english</key>
		<string>not</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>inte</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>شكراً</string>
		<key>english</key>
		<string>thanks</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>tack</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>من فضلك</string>
		<key>english</key>
		<string>please</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>vänligen</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لا أعرف.</string>
		<key>english</key>
		<string>I don&apos;t know.</string>
		<key>parent</key>
		<string>basic</string>
		<key>swedish</key>
		<string>Jag vet inte.</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>سؤال</string>
		<key>child</key>
		<string>question</string>
		<key>english</key>
		<string>question</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>fråga</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مَن</string>
		<key>english</key>
		<string>who</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>vem</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أين</string>
		<key>english</key>
		<string>where</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>var</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>متى</string>
		<key>english</key>
		<string>when</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>när</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>لماذا</string>
		<key>english</key>
		<string>why</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>varför</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ما/ماذا</string>
		<key>english</key>
		<string>what</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>vad</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أيّ</string>
		<key>english</key>
		<string>which</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>vilken</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>كيف</string>
		<key>english</key>
		<string>how</string>
		<key>parent</key>
		<string>question</string>
		<key>swedish</key>
		<string>hur</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أرقام</string>
		<key>child</key>
		<string>numbers</string>
		<key>english</key>
		<string>numbers</string>
		<key>parent</key>
		<string>Quick</string>
		<key>picName</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>siffror</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>صِفر</string>
		<key>english</key>
		<string>zero</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>noll</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>واحد</string>
		<key>english</key>
		<string>one</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>ett</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>اثنان</string>
		<key>english</key>
		<string>two</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>två</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ثلاثة</string>
		<key>english</key>
		<string>three</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>tre</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أربعة</string>
		<key>english</key>
		<string>four</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>fyra</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>خمسة</string>
		<key>english</key>
		<string>five</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>fem</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ستة</string>
		<key>english</key>
		<string>six</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>sex</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>سبعة</string>
		<key>english</key>
		<string>seven</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>sju</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ثمانية</string>
		<key>english</key>
		<string>eight</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>åtta</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>تسعة</string>
		<key>english</key>
		<string>nine</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>nio</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>عشرة</string>
		<key>english</key>
		<string>ten</string>
		<key>parent</key>
		<string>numbers</string>
		<key>swedish</key>
		<string>tio</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>الوقت</string>
		<key>child</key>
		<string>time</string>
		<key>english</key>
		<string>time</string>
		<key>parent</key>
		<string>Quick</string>
		<key>picName</key>
		<string>time</string>
		<key>swedish</key>
		<string>tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>وقت</string>
		<key>english</key>
		<string>time</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>tid</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ساعة</string>
		<key>english</key>
		<string>hour</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>timme</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>دقيقة</string>
		<key>english</key>
		<string>minute</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>minut</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>نِصف</string>
		<key>english</key>
		<string>half</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>halv</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>الساعة</string>
		<key>english</key>
		<string>o&apos;clock</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>klockan</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>اليوم</string>
		<key>english</key>
		<string>today</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>idag</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يوم</string>
		<key>english</key>
		<string>day</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>dag</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أسبوع</string>
		<key>english</key>
		<string>week</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>vecka</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>شهر</string>
		<key>english</key>
		<string>month</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>månad</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>سنة</string>
		<key>english</key>
		<string>year</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>år</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>قبل</string>
		<key>english</key>
		<string>before</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>innan</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بعد</string>
		<key>english</key>
		<string>after</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>efter</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>قادم</string>
		<key>english</key>
		<string>next</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>nästa</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أحياناً</string>
		<key>english</key>
		<string>sometimes</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>ibland</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>الآن</string>
		<key>english</key>
		<string>now</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>صباح</string>
		<key>english</key>
		<string>morning</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>morgon</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بعد ظهر</string>
		<key>english</key>
		<string>afternoon</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>eftermiddag</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مساء</string>
		<key>english</key>
		<string>evening</string>
		<key>parent</key>
		<string>time</string>
		<key>swedish</key>
		<string>kväll</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ضمائر</string>
		<key>child</key>
		<string>pronouns</string>
		<key>english</key>
		<string>pronouns</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>pronomen</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنا</string>
		<key>english</key>
		<string>I</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>jag</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنت</string>
		<key>english</key>
		<string>you</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>du</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>هو</string>
		<key>english</key>
		<string>he</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>han</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>هي</string>
		<key>english</key>
		<string>she</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>hon</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>نحن</string>
		<key>english</key>
		<string>we</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>vi</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أنتم</string>
		<key>english</key>
		<string>you</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>ni</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>هم</string>
		<key>english</key>
		<string>they</string>
		<key>parent</key>
		<string>pronouns</string>
		<key>swedish</key>
		<string>de</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>المِهَن</string>
		<key>child</key>
		<string>professions</string>
		<key>english</key>
		<string>professions</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>yrken</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>طبيب</string>
		<key>english</key>
		<string>doctor</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>läkare</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مترجم</string>
		<key>english</key>
		<string>interpreter</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>tolk</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>موظّف استقبال</string>
		<key>english</key>
		<string>receptionist</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>receptionist</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>طبيب نفسي</string>
		<key>english</key>
		<string>psychologist</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>psykolog</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>علاج طبيعي</string>
		<key>english</key>
		<string>physiotherapist</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>sjukgymnast</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>معالج النطق</string>
		<key>english</key>
		<string>speech therapist</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>logoped</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>طَبيب أَمْراضِ النِساءِ</string>
		<key>english</key>
		<string>gynaecologist</string>
		<key>parent</key>
		<string>professions</string>
		<key>swedish</key>
		<string>gynekolog</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>عائلة</string>
		<key>child</key>
		<string>family</string>
		<key>english</key>
		<string>family</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>familj</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>قَريب</string>
		<key>english</key>
		<string>relative</string>
		<key>missing</key>
		<string>missing pic</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>anhörig</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>رفيف</string>
		<key>english</key>
		<string>friend</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>vän</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>عائلة</string>
		<key>english</key>
		<string>family</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>familj</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>الموصي</string>
		<key>english</key>
		<string>trustee</string>
		<key>missing</key>
		<string>missing pic</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>god man</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أمّ</string>
		<key>english</key>
		<string>mother</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>mamma</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أب</string>
		<key>english</key>
		<string>father</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>pappa</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أولاد</string>
		<key>english</key>
		<string>children</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>barn</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إبن</string>
		<key>english</key>
		<string>son</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>son</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ابْنة</string>
		<key>english</key>
		<string>daughter</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>dotter</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>رضيع</string>
		<key>english</key>
		<string>baby</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>baby</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أخ</string>
		<key>english</key>
		<string>brother</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>bror</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أخت</string>
		<key>english</key>
		<string>sister</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>syster</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>زوج</string>
		<key>english</key>
		<string>husband</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>man</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>زوجة</string>
		<key>english</key>
		<string>wife</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>fru</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>رفيق</string>
		<key>english</key>
		<string>friend</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>vaen</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>صديقة</string>
		<key>english</key>
		<string>girlfriend</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>flickvän</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>صديق</string>
		<key>english</key>
		<string>boyfriend</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>pojkvän</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>جدّة</string>
		<key>english</key>
		<string>grandmother</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>mormor/farmor</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>جدّ</string>
		<key>english</key>
		<string>grandfather</string>
		<key>parent</key>
		<string>family</string>
		<key>swedish</key>
		<string>morfar/farfar</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بَحْث</string>
		<key>child</key>
		<string>directions</string>
		<key>english</key>
		<string>find</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>hitta</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>اتجاهات</string>
		<key>english</key>
		<string>directions</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>vägbeskrivning</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أين</string>
		<key>english</key>
		<string>where is</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>var är</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يذهب</string>
		<key>english</key>
		<string>go</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>gå</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>إلى</string>
		<key>english</key>
		<string>to</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>till</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يسار</string>
		<key>english</key>
		<string>left</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>vänster</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>يمين</string>
		<key>english</key>
		<string>right</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>höger</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مستقيماً</string>
		<key>english</key>
		<string>straight ahead</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>rakt framåt</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أوّل</string>
		<key>english</key>
		<string>first</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>först</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بعد ذلك</string>
		<key>english</key>
		<string>then</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>sedan</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>دورة</string>
		<key>english</key>
		<string>turn</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>vända</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مصعد</string>
		<key>english</key>
		<string>elevator</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>hiss</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مدخل</string>
		<key>english</key>
		<string>entrance</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>ingång</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>سلّم</string>
		<key>english</key>
		<string>stairs</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>trappa</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>ممر</string>
		<key>english</key>
		<string>corridor</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>korridor</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>طابق</string>
		<key>english</key>
		<string>floor</string>
		<key>parent</key>
		<string>directions</string>
		<key>swedish</key>
		<string>våning</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>أماكن</string>
		<key>child</key>
		<string>places</string>
		<key>english</key>
		<string>places</string>
		<key>parent</key>
		<string>Quick</string>
		<key>swedish</key>
		<string>platser</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>غرفة الانتظار</string>
		<key>english</key>
		<string>waiting room</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>väntrum</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>الاستقبال</string>
		<key>english</key>
		<string>reception</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>reception</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مرحاض</string>
		<key>english</key>
		<string>toilet</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>toalett</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مستشفى</string>
		<key>english</key>
		<string>hospital</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>sjukhus</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>مركز الرعاية الصحية</string>
		<key>english</key>
		<string>health center</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>vårdcentral</string>
	</dict>
	<dict>
		<key>arabic</key>
		<string>بيت</string>
		<key>english</key>
		<string>home</string>
		<key>parent</key>
		<string>places</string>
		<key>swedish</key>
		<string>hem</string>
	</dict>
</array>
</plist>
